@charset "utf-8";
/* CSS Document */

h3 {
    margin-bottom: 5%;
}

#content {
    padding-top: 5%;
    width:100%;
    margin: auto;
    text-align: center;

}

#descTitle {
    margin-top: 5%;

}

#ProductDesc {
    margin-top: 5%;
}

#addCart {
    margin-top: 3%;
}